<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html>
<head>
    <title>Title</title>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bs/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
</head>
<body>
{% block content %}

{% endblock %}

</body>
</html>