<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="django-hrm-01" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\code\python\p2018\venv1\Scripts\python.exe|E:\code\python\p2018\venv1\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="django-hrm" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\code\python\p2018\venv1\Scripts\python.exe|E:\code\python\p2018\venv1\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Django Hrm" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\code\python\p2018\venv1\Scripts\python.exe|e:\code\python\argo\venv1\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
