<div id="function2" class="tab-pane">
    <table class="table table-hover" id="tablePermision">
        <thead>
            <tr>
                <th style="width:2%;">
                    <label class="m-checkbox m-checkbox--state-info">
                        <input type="checkbox" checked="true">
                        <span></span>
                    </label>
                </th>
                <th>Mã người dùng</th>
                <th>Tên hiển thị</th>
                <th>Thuộc nhóm người dùng</th>
                <th>Là quản trị hệ thống</th>
                <th>Không bị khóa</th>
                <th>Mức quản lí từ</th>
                <th>Đến</th>
                <th>Thời điểm tạo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="m in mock2" ng-model="m"
                ng-click="testFunction(m, $event)">
                <td>
                    <div class="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" checked="{{state}}"> <span></span>
                            </label>
                    </div>
                </td>
                <td>{{m.code}}</td>
                <td>{{m.codename}}</td>
                <td>{{m.groupcode}}</td>
                <td>
                    <div class="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" checked="{{m.isAdmin}}"> <span></span>
                            </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox">
                            <label class="custom-checkbox">
                                <input type="checkbox" checked="{{m.isLock}}"> <span></span>
                            </label>
                    </div>
                </td>
                <td>{{m.managefrom}}</td>
                <td>{{m.manageto}}</td>
                <td>{{m.createdate}}</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" class="hcs-pagi-navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    (function (scope) {
        var obj2 = [
        {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
    }, {
        'state': true,
        'code': 'DD001',
        'codename': 'Quản trị hệ thống',
        'groupcode': 'Nhóm quản trị hệ thống',
        'isAdmin': true,
        'isLock': '',
        'managefrom': 0,
        'manageto': 0,
        'createdate': '02/05/2018'
        }, {
            'state': true,
            'code': 'DD001',
            'codename': 'Quản trị hệ thống',
            'groupcode': 'Nhóm quản trị hệ thống',
            'isAdmin': true,
            'isLock': '',
            'managefrom': 0,
            'manageto': 0,
            'createdate': '02/05/2018'
        }
        ];
        scope.mock2 = obj2;
    });
</script>