<%
    import hash_data
%>
<div title="Edit" class="container-fluid">
    <div class="form-group">
        %for row in model["form"]["rows"]:
            <div class="row form-group">
                <%
                    index=0
                %>
                %for col in row["col_md"]:

                    <div class="col-md-${col}">
                        <%
                            col=model["get_col"](row["fields"],index)
                        %>
                        %if col["is_label"]:
                            <span>
                                ${get_app_res(col["caption"])}
                            </span>
                        %elif col["type"]=="text":
                            <input type="text" b-textbox ng-model="data.${col['field']}"/>
                        %elif col["type"]=="text-area":
                            <textarea class="form-control input-small" ng-model="data.${col['field']}">

                            </textarea>
                        %elif col["type"]=="select":
                            <div b-select source="source_${col['source'].replace('.','_')}" field-text="text" field-value="value" ng-model="data.${col['field']}"></div>

                              <script>
                            (function(scope){
                                    scope.$parent.$ws.api('${get_api_key(model["api_get_dictionary"])}')
                                              .data({
                                                    source:"${hash_data.to_hash(col['source'])}",
                                                    "lookupField":"value",
                                                    "displayField":"text"
                                              }).done(function(err,res){
                                                   scope.source_${col['source'].replace('.','_')}=res;
                                                   console.log(scope.source_${col['source'].replace('.','_')})
                                                   scope.$applyAsync();

                                              });

                            });
                        </script>
                        %elif col["type"]=="html-editor":
                            <div b-html-editor ng-model="data.${col['field']}"></div>
                        %elif col["type"]=="date-picker":
                            <div b-date-picker ng-model="data.${col['field']}"></div>

                        %endif

                    </div>
                    <%
                        index=index+1
                    %>
                %endfor


            </div>
        %endfor

    </div>
    <div class="form-group">
        <%include file="category-editor-tool-bar.html"/>
    </div>
    <script>
    (function(scope,params,path){

        scope.data={}
        if(params){
            scope.$parent.$ws.api('${get_api_key(model["api_get_item"])}')
            .data(params)
            .done(function(error,res){
                scope.data=res;
                scope.$applyAsync();
            });
            scope.isNew=false
        }
        else {
            scope.isNew=true
        }

        scope.doSave=function(){
            scope.$parent.$ws.api('${get_api_key(model["api_save_item"])}')
            .data(scope.data)
            .done(function(error,res){
                console.log(res);
                if(res.error){
                    alert("lỗi");
                }
                scope.data=res.data;
                scope.$applyAsync();
            });
        }

    });
</script>
</div>
