<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%include file="category-toolbar.html"/>
	</div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<table class="table table-bordered table-hover">
	<thead>
		<tr>
            %for col in model["columns"]:
                <th>${get_res(col["caption"])}</th>
            %endfor
		</tr>
	</thead>
	<tbody>
		<tr>
            %for col in model["columns"]:
                <td>{{${col["field"]}}}</td>
            %endfor

		</tr>
	</tbody>
</table>
	</div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%include file="category-toolbar.html"/>
	</div>
</div>

<script>
    (function(scope){

        scope.view_path="${get_view_path()}"
        alert(scope.view_path)
        scope.$ws=ws(scope)

    });
</script>