<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <p class="hcs-group-collapse-heading">
                <button class="zb-icon-button hcs-profile-group-title" onclick="$('#collapseDialogDomain').slideToggle();">
                    <span>
                        <i class="la la-angle-down"></i>
                    </span>Vùng dữ liệu
                </button>
            </p>
        </div>
        <div class="row" id="collapseDialogDomain">
            <div class="col-md-{{col}}">
                <div class="form-group row hcs-group-form-group">
                    <!--Mã vùng dữ liệu-->
                    <label for="inputCodeDomain" class="col-sm-4 zb-form-label">Mã vùng dữ liệu</label>
                    <div class="col-sm-8">
                        <input-text id="inputCodeDomain" required="Mã vùng dữ liệu" ng-model="Item.Name">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group row hcs-group-form-group">
                    <!--Tên vùng dữ liệu-->
                    <label for="inputDomainName" class="col-sm-4 zb-form-label">Tên vùng dữ liệu</label>
                    <div class="col-sm-8">
                        <input-text id="inputDomainName" ng-model="Item.Position">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group row hcs-group-form-group">
                    <!--Mô tả chi tiết-->
                    <label for="inputDescription" class="col-sm-4 zb-form-label">Mô tả chi tiết</label>
                    <div class="col-sm-8">
                        <input-text id="inputDescription" ng-model="Item.Office">
                    </div>
                </div>
            </div>
            <div class="col-md-{{col}}">
                <div class="form-group row hcs-group-form-group">
                    <!--Phạm vi truy cập-->
                    <label for="inputAccessLimit" class="col-sm-4 zb-form-label">Phạm vi truy cập</label>
                    <div class="col-sm-8">
                        <input-text id="inputAccessLimit" ng-model="Item.Salary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function (scope) {
        scope.onResizeDialog = onResizeDialog;
        scope.col = 6;
        scope.title = scope.$parent.headerTitle;
        scope.Item = scope.$parent.currentItem;
        scope.saveNClose = saveNClose;
        scope.saveNNext = saveNNext;

        function onResizeDialog() {
            $('.modal-dialog').toggleClass('resize-width');
            scope.col = scope.col == 4 ? 6 : 4;
        }

        function saveNClose() {
            alert('Xử lí thành công');
        };

        function saveNNext() {
            alert('Xử lí thành công');
        };
    });
</script>