<table class="display zb-data-table responsive nowrap" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="caption in tableCaptions">{{caption}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in tableRecords">
            <td ng-click="$selectCheck(record,$event)"></td>
            <td ng-repeat="col in record" ng-click="$selectCell(record,$event)">{{col}}</td>
        </tr>
    </tbody>
</table>


<!-- <table class="display zb-table-checkbox  responsive nowrap" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
    </thead>
</table> -->
<!-- <table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table> -->